.instance-child6 {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 720px);
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 128px;
}
.vu-trung-anh5 {
  position: absolute;
  top: 55px;
  left: 1247px;
  line-height: 21px;
}
.instance-child7 {
  position: absolute;
  top: 40px;
  left: 1366px;
  border-radius: var(--br-xs);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.notificationbell-outline-icon5 {
  position: absolute;
  height: 18.75%;
  width: 1.67%;
  top: 42.97%;
  right: 15.56%;
  bottom: 38.28%;
  left: 82.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child53 {
  position: relative;
  border-radius: 11.65px;
  width: 48px;
  height: 46px;
  object-fit: cover;
}
.van49 {
  position: relative;
  letter-spacing: 0.02em;
}
.rectangle-parent55 {
  position: absolute;
  height: 70.47%;
  width: 9.51%;
  top: 14.84%;
  right: 85.97%;
  bottom: 14.69%;
  left: 4.51%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--h1-bold-size);
  color: var(--stroke-2nd);
}
.rectangle-parent54 {
  position: absolute;
  height: 12.5%;
  width: 100%;
  top: 0%;
  right: -0.07%;
  bottom: 87.5%;
  left: 0.07%;
  color: var(--color-black);
}
.fill126 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  box-shadow: var(--shadow-outer-40);
  border: 1px solid var(--gray-80);
  box-sizing: border-box;
}
.background35 {
  position: absolute;
  height: 100%;
  width: calc(100% - 1px);
  top: 0px;
  right: 1px;
  bottom: 0px;
  left: 0px;
  background-color: var(--white);
}
.background36 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--white);
}
.label795 {
  position: absolute;
  width: calc(100% - 96px);
  top: calc(50% - 20.5px);
  left: 80px;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 42px;
}
.lightbulblightbulb-outline-icon5 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: 24px;
  width: 32px;
  height: 32px;
}
.item-65 {
  position: absolute;
  width: calc(100% - 3px);
  top: 301px;
  right: 2px;
  left: 1px;
  height: 57px;
}
.item-55 {
  position: absolute;
  width: calc(100% - 3px);
  top: 244px;
  right: 2px;
  left: 1px;
  height: 57px;
}
.item-45 {
  position: absolute;
  width: calc(100% - 3px);
  top: 187px;
  right: 2px;
  left: 1px;
  height: 57px;
}
.indicator9 {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--primary-color-default-40);
  width: 4px;
  height: 56px;
}
.indicator8 {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid var(--purple-50);
  box-sizing: border-box;
  width: 4px;
  height: 56px;
}
.item-35 {
  position: absolute;
  width: calc(100% - 3px);
  top: 130px;
  right: 2px;
  left: 1px;
  height: 57px;
  color: var(--primary-color-default-40);
}
.item-25 {
  position: absolute;
  width: calc(100% - 3px);
  top: 73px;
  right: 2px;
  left: 1px;
  height: 57px;
}
.item-15 {
  position: absolute;
  width: calc(100% - 3px);
  top: 16px;
  right: 2px;
  left: 1px;
  height: 57px;
}
.side-menu-open5 {
  position: absolute;
  height: 87.5%;
  width: 17.64%;
  top: 12.5%;
  right: 82.36%;
  bottom: 0%;
  left: 0%;
}
.chung-child {
  position: absolute;
  height: 78.03%;
  width: 78.96%;
  top: 20.9%;
  right: 1.74%;
  bottom: 1.07%;
  left: 19.31%;
  border-radius: var(--br-xl);
  background-color: var(--white);
}
.icon-left6 {
  position: absolute;
  top: calc(50% - 16px);
  right: 0px;
  width: 40px;
  height: 32px;
}
.icon-right6 {
  position: absolute;
  top: calc(50% - 16px);
  left: 0px;
  width: 40px;
  height: 32px;
}
.text6 {
  position: absolute;
  top: 6px;
  left: 57.14%;
  line-height: 19.5px;
}
.fill127 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--gray-60);
  box-sizing: border-box;
}
.border6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.input96 {
  position: absolute;
  top: calc(50% - 10px);
  left: 16px;
  line-height: 19.5px;
}
.text-field6 {
  position: absolute;
  top: calc(50% - 16px);
  left: 48px;
  border: 1px solid var(--purple-50);
  box-sizing: border-box;
  width: 40px;
  height: 32px;
  text-align: center;
}
.pagination6 {
  position: absolute;
  height: 66.67%;
  top: 16.67%;
  right: 6px;
  bottom: 16.67%;
  width: 168px;
}
.table-cell-paginator6 {
  position: absolute;
  right: 492px;
  bottom: 11px;
  width: 182px;
  height: 48px;
  font-size: var(--h5-regular-size);
}
.fill128 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 1px solid var(--gray-60);
  box-sizing: border-box;
}
.surface90 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.99;
  mix-blend-mode: normal;
}
.placeholder80 {
  position: absolute;
  top: 6px;
  left: 40px;
  line-height: 19.5px;
}
.search-icon46 {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 24px;
  height: 24px;
}
.input97 {
  position: absolute;
  height: 96.97%;
  width: 48.54%;
  top: 3.03%;
  right: 0%;
  bottom: 0%;
  left: 51.46%;
}
.chung11 {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: var(--h2-bold-size);
  line-height: 30px;
  color: var(--gray-20);
}
.group-child5 {
  position: absolute;
  height: 106.06%;
  width: 0.31%;
  top: -3.03%;
  right: 62.71%;
  bottom: -3.03%;
  left: 36.98%;
  border-right: 2px solid var(--color-silver-100);
  box-sizing: border-box;
}
.lp45 {
  position: absolute;
  top: 21.21%;
  left: 41.6%;
  line-height: 19.5px;
}
.input-parent2 {
  position: absolute;
  height: 3.22%;
  width: 45.07%;
  top: 15.43%;
  right: 34.86%;
  bottom: 81.35%;
  left: 20.07%;
  font-size: var(--h5-regular-size);
  color: var(--gray-70);
}
.icon643 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.label801 {
  position: relative;
  line-height: 21px;
}
.button88 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-9xs);
  background-color: var(--green-70);
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.button-to-mi3 {
  position: absolute;
  top: 155px;
  left: 1317px;
  width: 98px;
  height: 32px;
  color: var(--white);
}
.line502 {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--gray-80);
  height: 1px;
}
.label802 {
  position: absolute;
  width: calc(100% - 31px);
  top: calc(50% - 10px);
  left: 16px;
  line-height: 19.5px;
  display: flex;
  align-items: center;
}
.table-cell502 {
  position: absolute;
  width: calc(100% - 0.2px);
  top: 0px;
  right: 0.2px;
  left: 0px;
  background-color: var(--white);
  height: 32px;
}
.line503 {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: -0.2px;
  left: 0px;
  background-color: var(--gray-80);
  height: 1px;
}
.label803 {
  position: absolute;
  width: calc(100% - 31px);
  top: calc(50% - 9.9px);
  left: 16px;
  line-height: 19.5px;
  display: flex;
  align-items: center;
}
.table-cell503 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--white);
}
.table-cell-parent85 {
  position: absolute;
  height: calc(100% - 32px);
  width: calc(100% - 0.2px);
  top: 32px;
  right: 0.2px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.table-column87 {
  position: absolute;
  top: 0px;
  left: 483.7px;
  width: 213.2px;
  height: 301px;
}
.table-cell508 {
  position: absolute;
  width: calc(100% + 0.2px);
  top: 0px;
  right: -0.2px;
  left: 0px;
  background-color: var(--white);
  height: 32px;
}
.label809 {
  position: absolute;
  width: calc(100% - 31px);
  top: calc(50% - 9.9px);
  left: 16px;
  line-height: 19.5px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.table-cell-parent86 {
  position: absolute;
  height: calc(100% - 32px);
  width: calc(100% + 0.2px);
  top: 32px;
  right: -0.2px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.table-column88 {
  position: absolute;
  top: 0px;
  left: 697.3px;
  width: 145.8px;
  height: 301px;
}
.table-cell514 {
  position: absolute;
  width: calc(100% + 0.1px);
  top: 0px;
  right: -0.1px;
  left: 0px;
  background-color: var(--white);
  height: 32px;
}
.table-cell-parent87 {
  position: absolute;
  height: calc(100% - 32px);
  width: calc(100% + 0.1px);
  top: 32px;
  right: -0.1px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.table-column89 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 72.9px;
  height: 301px;
}
.table-column90 {
  position: absolute;
  top: 0px;
  left: 270.1px;
  width: 213.2px;
  height: 301px;
}
.label827 {
  position: relative;
  line-height: 19.5px;
}
.text-status-icon-error20 {
  position: absolute;
  top: calc(50% - 9.9px);
  left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.table-column91 {
  position: absolute;
  top: 0px;
  left: 72.9px;
  width: 197.2px;
  height: 301px;
}
.icon644 {
  position: absolute;
  top: calc(50% - 15.9px);
  right: 8px;
  width: 40px;
  height: 32px;
}
.icon646 {
  position: relative;
  width: 24px;
  height: 24px;
}
.icon645 {
  position: absolute;
  top: calc(50% - 15.9px);
  right: 56px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.icon647 {
  position: absolute;
  top: calc(50% - 15.9px);
  right: 104px;
  width: 40px;
  height: 32px;
}
.table-column92 {
  position: absolute;
  top: 0px;
  left: 829.8px;
  width: 198.2px;
  height: 301px;
}
.table-column-parent12 {
  position: absolute;
  top: 246px;
  left: 326px;
  width: 1028px;
  height: 301px;
  font-size: var(--h5-regular-size);
  color: var(--gray-10);
}
.dropdown115 {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.dropdown-wrapper64 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropdown-menu26 {
  border-radius: var(--br-11xs);
  background-color: var(--white);
  box-shadow: var(--shadow-outer-40);
  border: 1px solid var(--gray-80);
  box-sizing: border-box;
  width: 172px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px;
}
.dropdown-menu-chung4 {
  position: absolute;
  top: 155px;
  left: 1076px;
  width: 170px;
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chung10 {
  position: relative;
  background-color: var(--gray-90);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h4-regular-size);
  color: var(--gray-20);
  font-family: var(--h3-bold);
}
